[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = SanjanaVenkat
	email = 39311548+SanjanaVenkat@users.noreply.github.com
